extends layout.pug

block content

  h3 How it Works

  p <em>Scary Photobooth</em> is a made up of:

  ul(style="text-align: left; display: inline-block;")
    li an Arduino (#[a(href="https://github.com/mgalgs/halloween16/tree/master/arduino") source])
    li a sonic rangefinder
    li a Raspberry pi (#[a(href="https://github.com/mgalgs/halloween16/tree/master/scripts") source])
    li a nodejs web app (#[a(href="https://github.com/mgalgs/halloween16") source])

  p I don't have a schematic but you can figure out which pins to wire stuff based on the source code.

  iframe(width="560" height="315" src="https://www.youtube.com/embed/-a-aJlC9Y44?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen)
