extends layout.pug

block content
  div#image-list
    each image in images
      div.image
        img(src=image).img-rounded
        h4 Scary
  unless limit == -1
    div
      a(href="/browse") More
