html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block moremeta

    title Halloween 2016 Scary Photobooth
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
    link(rel="stylesheet" href="/css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    script(src="/socket.io/socket.io.js")
    script(src="/js/main.js")

  body
    // div.fb-like.pull-right(data-share="true" data-width="450" data-show-faces="true" style="min-height:24px;")
    div.fb-like.corner-liker(data-href=path data-layout="box_count" data-action="like" data-size="large" data-show-faces="true" data-share="true")
    div.container
      h1 Scary Photobooth!
      block content

      hr
      a(href="/") Home
      span  | 
      a(href="https://github.com/mgalgs/halloween16") Source
      // script(type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4e9e62351e464962")
